<h1>Listing Room Hotel</h1>

<h2><%= link_to 'Add Data', new_article_path %></h2>

<table>
  <tr>
    <th>floor</th>
    <th>room</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.floor %></td>
      <td><%= article.room %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>